<html>

<head>
  <title>Guestbook</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="controller.js"></script>
</head>

<body>
  <div style="width: 50%; margin-left: 20px">
    <h2>Guestbook</h2>
    <input id="messageInput" placeholder="Messages" class="form-control" type="text" name="input"><br>
    <input id="sendButton" value="Send" class="button" type="button"><br>
    </form>
    <br>
    <br>
    <div id="messageBox">
    </div>
  </div>
</body>

</html>